doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title TableroTuareg
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/styles.css')
    link(rel='stylesheet', href='assets/css/Material-Card.css')
  body
    h1 Partida de Tuareg
    .col-lg-2
      .container.Tribu
        img.barajaTribu(src='assets/img/Tribu_70.gif')
      .container.contenedorMercancia
        img.barajaMercancia(src='assets/img/TMercancias_71.gif')
    .container
      .row.show
        .col-md-2
          img(src='assets/img/bordes_1.gif')
        .col-md-2
          img(src='assets/img/bordes_2.gif')
        .col-md-2
          img(src='assets/img/bordes_3.gif')
        .col-md-2
          img(src='assets/img/bordes_4.gif')
        .col-md-2
          img(src='assets/img/bordes_5.gif')
      .row.show
        .col-md-2
          img(src='assets/img/bordes_16.gif')
        .col-md-2
        .col-md-2
        .col-md-2
        .col-md-2
          img(src='assets/img/bordes_6.gif')
      .row.show
        .col-md-2
          img(src='assets/img/bordes_15.gif')
        .col-md-2
        .col-md-2
        .col-md-2
        .col-md-2
          img(src='assets/img/bordes_7.gif')
      .row.show
        .col-md-2
          img(src='assets/img/bordes_14.gif')
        .col-md-2
        .col-md-2
        .col-md-2
        .col-md-2
          img(src='assets/img/bordes_8.gif')
      .row.show
        .col-md-2
          img(src='assets/img/bordes_13.gif')
        .col-md-2
          img(src='assets/img/bordes_12.gif')
        .col-md-2
          img(src='assets/img/bordes_11.gif')
        .col-md-2
          img(src='assets/img/bordes_10.gif')
        .col-md-2
          img(src='assets/img/bordes_9.gif')
    .container-fluid
      .col-md-12
        .row
          div
            .panel.panel-default
              .panel-heading
                h3.panel-title Jugador 1
              .panel-body
                span Panel Body
        .row
          div
            .panel.panel-default
              .panel-heading
                h3.panel-title Jugador 2
              .panel-body
                span Panel Body
        .row
    script(src='assets/js/jquery.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
